:root {
  --primary-color: #CAFFD0;
  --secondary-color: #67D44E;
  --tertiary-color: #FFC0CB;
  --fourth-color: #CAFFD0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
  font-family: 'Indie Flower', cursive;
  color: #fff;
  background: #5AD2F4;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilites */
.container {
  max-width: 1100px;
  margin: 0 auto;  
}

.bg-primary {
  background: var(--secondary-color);
}

.bg-secondary {
  background: var(--fourth-color);
}

.bg-tertiary {
  background: #FFC0CB;
}

.bg-light-green {
  background: #67D44E;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.btn {
  padding: 15px 35px;
  border: 2px solid #fff;
  margin-top: 20px;
  font-size: 30px;
  border-radius: 10px; 
}

.btn-pink {
  background: #fff;
  color: #FFC0CB;
}

.btn-green {
  background: #fff;
  color: #67D44E;
}

.btn:hover {
  opacity: 0.8;
}

.flex-column h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.flex-column p {
  font-size: 30px;
  margin-bottom: 70px;
}

/* Navbar */
#main-nav {
  background: var(--secondary-color);
  padding: 10px 30px;
  height: 100px;
  color: #fff;
}

#main-nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#main-nav ul {
  display: flex;
}

#main-nav h1 {
  font-size: 2.1rem;
  color: #fff;
}

#main-nav ul li a {
  margin-right: 30px;
  font-size: 1.7rem;
  color: #fff;
  padding-bottom: 10px;
}

#main-nav .current,
#main-nav a:hover {
  border-bottom: 2px solid #fff;
} 


/* Showcase */
#showcase {
  background-image: url('/img/grass.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  position: relative;
}

#showcase * {
  z-index: 1;
}

#showcase::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
}

#showcase .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#showcase .container h1 {
  font-size: 70px;
}

#showcase .container p {
  font-size: 35px;
}



/* Welcome */
#welcome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#welcome .welcome-content {
  margin-top: 80px;
  text-align: center;
  padding: 100px;
}

/* Icons */
#icons {
  background: #67D44E;
  height: 40vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#icons .flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

#icons .icon {
  text-align: center;
  font-size: 28px;
  color: #fff;
  padding: 5px;
}


#icons h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}

/* Footer */
#main-footer {
  background: #4381ce;
  height: 100px;
  font-size: 30px;
}

#main-footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* About */
#profiles {
  margin: 0 5vw;
}

#profiles .profiles-container {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#profiles .card {
  background: #CAFFD0;
  color: #000;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#profiles .card p {
  font-size: 25px;
}

#profiles img {
  width: 75%;
}

#profiles h1 {
  text-align: center;
  font-size: 55px;
  padding: 10px;
}

#profiles h2 {
  font-size: 35px;
  margin-bottom: 5px;
}

/* Gallery */
.wrapper-gallery {
  margin: 5vh 10vw;
}

#index-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: 
  "gallery-p gallery-p gallery-p gallery-p"
  "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
  "img1 img2 img3 img4"
  "img5 img6 img7 img8"
  "img9 img10 img11 img12"
  "img13 img14 img15 img16"
  "img17 img18 img19 img20";
  
}

#index-gallery .gallery-img {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* Images */
#index-gallery p {
  grid-area: gallery-p;
  margin-top: 20px;
  font-size: 20px;
}

#index-gallery h2 {
  grid-area: gallery-h2;
  font-size: 45px;
  
}

#index-gallery .img1 {
  grid-area: img1;
  background-image: url('../img/gallery/thumbs/img1.jpg');
}

#index-gallery .img2 {
  grid-area: img2;
  background-image: url('../img/gallery/thumbs/img2.jpg');
}

#index-gallery .img3 {
  grid-area: img3;
  background-image: url('../img/gallery/thumbs/img3.jpg');
}

#index-gallery .img4 {
  grid-area: img4;
  background-image: url('../img/gallery/thumbs/img4.jpg');
}

#index-gallery .img5 {
  grid-area: img5;
  background-image: url('../img/gallery/thumbs/img5.jpg');
}

#index-gallery .img6 {
  grid-area: img6;
  background-image: url('../img/gallery/thumbs/img6.jpg');
}

#index-gallery .img7 {
  grid-area: img7;
  background-image: url('../img/gallery/thumbs/img7.jpg');
}

#index-gallery .img8 {
  grid-area: img8;
  background-image: url('../img/gallery/thumbs/img8.jpg');
}

#index-gallery .img9 {
  grid-area: img9;
  background-image: url('../img/gallery/thumbs/img9.jpg');
}

#index-gallery .img10 {
  grid-area: img10;
  background-image: url('../img/gallery/thumbs/img10.jpg');
}

#index-gallery .img11 {
  grid-area: img11;
  background-image: url('../img/gallery/thumbs/img11.jpg');
}

#index-gallery .img12 {
  grid-area: img12;
  background-image: url('../img/gallery/thumbs/img12.jpg');
}

#index-gallery .img13 {
  grid-area: img13;
  background-image: url('../img/gallery/thumbs/img13.jpg');
}

#index-gallery .img14 {
  grid-area: img14;
  background-image: url('../img/gallery/thumbs/img14.jpg');
}

#index-gallery .img15 {
  grid-area: img15;
  background-image: url('../img/gallery/thumbs/img15.jpg');
}

#index-gallery .img16 {
  grid-area: img16;
  background-image: url('../img/gallery/thumbs/img16.jpg');
}

#index-gallery .img17 {
  grid-area: img17;
  background-image: url('../img/gallery/thumbs/img17.jpg');
}

#index-gallery .img18 {
  grid-area: img18;
  background-image: url('../img/gallery/thumbs/img18.jpg');
}

#index-gallery .img19 {
  grid-area: img19;
  background-image: url('../img/gallery/thumbs/img19.jpg');
}

#index-gallery .img20 {
  grid-area: img20;
  background-image: url('../img/gallery/thumbs/img20.jpg');
}

/* Gallery image titles */
.gallery-img div {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-img a {
  font-family: 'Indie Flower';
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.gallery-img div:hover {
  opacity: 0.4;
  transition: all ease-in-out 100ms;
}

/* Popup window when clicked */
.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img {
  max-height: 90vh;
  max-width: 600px;
  object-fit: cover;
}

/* Next image
.img-btn-next {
  display: block;
  font-size: 50px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: 'Indie Flower';
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-next:hover {
  opacity: 0.8;
}

.img-btn-prev {
  display: hide;
  display: block;
  padding: 6px 10px;
  font-size: 50px;
  border-radius: 4px;
  background-color: #111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: 'Indie Flower';
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-prev:hover {
  opacity: 0.8;
} */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#option1,
#option2,
#option3,
#option4,
#option5,
#option6,
#option7,
#option8,
#option9, 
#option10,
#option11, 
#option12, 
#option13, 
#option14, 
#option15 {
  display: none;
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
  background: green;
}

#loader {
  width: auto;
}


